<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <BotKey>**** put your key here ****</BotKey>
  <Chat>*** put id here ****</Chat>
  <NonConnectedAnswer>Ask your system administrator about bot connection</NonConnectedAnswer>
  <Step1Question>Enter room number</Step1Question>
  <Step2Question>Enter item name </Step2Question>
  <Step3Question>Enter situation details</Step3Question>
  <StepsDoneMessage>Thanks for your request! Info sent to administrator.</StepsDoneMessage>
</configuration>

